[paths]
source =
   src/molden_modifier
   */site-packages/molden_modifier

[run]
branch = true
source =
    molden_modifier
    tests
parallel = true

[report]
show_missing = true
precision = 2
omit = *migrations*
